
#appointment {
	padding: 0;/*
	background-image: url(../image/image-15.jpg);
	background:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/image-15.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;*/
	margin: 0 auto;
}

#appointment .col-xl-8{
	border: 1px solid #d1d0d0;
	border-radius: 8px;
	margin: 5vh auto ;
	box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.4);
	background-color: rgb(241, 242, 246,0.8);

}
#appointment .col-xl-8 h5{
	border-bottom: 1px solid #d4d2d2;
	padding: 15px 20px ;
	color: #bb0a1e;
}
#appointment form
{
	font-size: 16px;
	width: 97%;
	margin: 1.5% 1.5%;
	background-color: rgb(209, 208, 208);
	padding: 10px 20px;
	border-radius: 7px;
}
#appointment form label {
	font-weight: 600;
	padding-top: 10px;
	font-size: 18px;
	color: white;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4),0px 0px 5px rgba(0, 0, 0, 0.4),0px 0px 5px rgba(0, 0, 0, 0.4);
}
#appointment form button{
	background-color: #bb0a1e;
}
#appointment form button:hover{
	background-color: grey;
}
