@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');

#nearest-blood-bank{

	margin: 5vh auto;
}
#nearest-blood-bank h3{
	font-size: 1.7rem;
	border-bottom: 1px solid grey;
	padding-bottom: 5px ;
	color: #bb0a1e;
}
#nearest-blood-bank select{
	font-size: 18px;
	padding: 4px 10px;
	border-radius: 5px;
	width: 100%;
}
.border-right{
	border-right: 2px;
	border-right-style: dashed;
}
#nearest-blood-bank .button{
	font-size: 16px;
	padding: 6px 15px;
	border-radius: 5px;
}
/*============================================*/
/*======= location-list ================*/
#location-list{
	margin: 0 auto;
}
#location-list th,#location-list td{
	border: 1px solid #d1d0d0;
}

/*======================================*/
#callus .col-12{
	background-image: url("../image/image-14.jpg");
	background-size: 108% 100%;
	background-position: center;
	height: 50vh;
	width: 100%;
}
#callus .col-12 div
{
	margin: 12vh 0 0 13vw;
	color: white;
	width: 36vw;
}
#callus .col-12 div h1{
	font-size: 2.8rem;
	font-weight: 600;
}

#callus .col-12 div h1 .phoneno{
	text-decoration: none;
	color: white;
	transition-duration: 0.12s;
}
#callus .col-12 div h1 .phoneno:hover{
	color: #ff512f;
}
#callus .col-12 div p{
	margin: 4vh 0;
	font-weight: 18px;
	text-align: center;
}

#callus .col-12 div button{
	margin-left: 50%;
	transform: translateX(-50%);
	font-size: 15px;
	padding: 1.4vh 2vw;
}
@media only screen and (max-width: 1200px)
{
	
	#callus{
		margin-top: 2vh;
	}
	#callus .col-12 div h1{
		font-size: 1.4rem;
		font-weight: 600;
		text-align: center;
		text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.5);
	}
	#callus .col-12 div
	{
		margin: auto;
		margin-top: 5.4vh;
		 width: auto;
	}
	#callus .col-12 div p{
		margin: 1.2vh 0;
		font-weight: 15px;
		text-align: center;
	}

	#callus .col-12 div button{
		margin-left: 50%;
		transform: translateX(-50%);
		font-size: 12.4px;
		padding: 2vh 3vw;
	}
	#city-two-center,#city-three-center{
		display: block !important;
	}
	#callus .col-12{
		background-image: url("../image/image-14.jpg");
		background-size: 128% 100%;
		background-position: center;
		height: 33vh;
		width: 100%;
	}
	#city-one-center .col-12 h5,#city-two-center .col-12 h5,#city-three-center .col-12 h5
	{
		margin-top: 30px;
		text-align: center;
		font-size: 1.4rem;
	}
	#city-one-center .col-12 ,#city-two-center .col-12,#city-three-center .col-12 
	{
		padding: 0 20px;
	}
}

