@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

#requirements {
    margin-top: 10vh;
}

#requirements-detailes {
    width: 100%;
}

#requirements-detailes div:first-child {
    margin-left: 20%;
    width: 80%;
}

#requirements-detailes .display-4 {
    margin: 3vh 0;
    font-size: 2.7rem;
}

#requirements-detailes .display-4:before {
    content: "";
    height: 2.5px;
    width: 70px;
    position: absolute;
    background-color: #ff512f;
    top: 0;
}

#requirements-detailes p {
    font-size: 18px;
}

#requirements-detailes ul {
    margin: 0;
    padding-left: 0px;
}

#requirements-detailes ul li {
    list-style: none;
    margin: 5px 0;
    line-height: 35px;
    margin: 1vh 0;
    padding: 5px 0;
}

#requirements-detailes .phoneno {
    font-size: 19px;
}

#requirements-detailes .phoneno a {
    color: black;
    text-decoration: none;
    transition-duration: 0.5s;
}

#requirements-detailes .phoneno a:hover {
    color: #ff512f;
}

#requirements-detailes .row .col-xl-6 {
    margin: 5vh 0 0 0;
}

#requirements-detailes .row .col-xl-6 button {
    padding: 20px;
    margin: 0;
    border-radius: 0;
    width: 80%;
    font-size: 16px;
}

#requirements-image {
    background-image: url("../image/image-5.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 136% 100%;
    height: auto;
    width: 100%;
}

#Donation-process {
    margin: 12vh 0 0;
}

#Donation-process-image {
    background-image: url("../image/image-12.jpg");
    background-size: 165% 100%;
    background-position: right;
}

#Donation-process-details {
    margin-left: 20%;
    width: 50%;
    transition: height 4s;
}

#Donation-process-details h4 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 5vh;
}

#Donation-process-details span p {
    border-bottom: 2px solid #8e9eab;
    line-height: 22px;
    font-size: 20px;
    padding-bottom: 3px;
    cursor: pointer;
    font-weight: 800;
}

#Donation-process-details span i {
    color: #ff512f;
    font-size: 22px;
    font-weight: bold;
    vertical-align: center;
    margin-right: 1vw;
}

#Donation-process-details ul {
    height: 0;
    overflow: hidden;
    padding-left: 10px;
}

#Donation-process-details ul li {
    padding: 10px 0;
}

#Donation-process-details .fa-minus {
    display: none;
}

/*============about blood ==========*/
#about-blood,.about-blood-table{
    padding: 10px 2%;
    width: 50%;
    margin: auto;
}
#about-blood img{
    width: 100%;
    height: 50%;

}
.about-blood-table  h4{
    background-color: #bb0a1e;
    padding:5px 0 5px 10px;
    margin: 0;
    color: white;
    font-size: 1.2rem;
}
#about-blood p{
    margin-top: 5vh;
    font-family: 'Oswald', sans-serif;
    font-size: 17.7px;
    padding: 0 15px;
    text-align: center;
}
#about-blood .button{
    font-size: 18px;
    background-color: #fb0404;
    padding: 5px 9px;
    border-radius: 5px;
    margin:3vh 0 0 50%;
    cursor: pointer;
    transform: translateX(-50%);
}
#about-blood .button:hover{
    background-color: #bb0a1e;
}
/*=================================*/
#donation-guide {
    margin: 12vh 0 10vh;
}

#donation-guide .col-12 div {
    padding: 7vh 0 3vh;
    margin-left: 36%;
    width: 64%;
}

#donation-guide div h2 {
    font-size: 2.4rem;
    font-weight: bold;
    letter-spacing: 0.4px;
}

#donation-guide div h2:before {
    content: "";
    top: 16vh;
    height: 2.5px;
    width: 70px;
    position: absolute;
    background-color: #FF512F;
}

#donation-guide div p {
    font-size: 17px;
    color: grey;
    margin-top: 7vh;
    padding: 10px 12px 10px 0;
    text-align: justify;
}

#donation-guide div form input {
    font-size: 16px;
    padding: 10px 6px 4px;
    width: 20vw;
}

#donation-guide div form button {
    font-size: 17.3px;
    padding: 1.3vh 2vw;
    margin-top: 2vh;
}

#donation-guide-image {
    background-image: url("../image/image-13.jpg");
    background-size: 100% 100%;
    height: auto;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    #requirements {
        margin-top: 6vh;
    }
    #requirements-detailes div:first-child {
        margin: 0 12.5%;
        width: 75%;
    }
    #requirements-detailes .display-4 {
        font-size: 2rem;
    }
    #requirements-detailes p {
        font-size: 19px;
    }
    #requirements-detailes ul {
        padding-left: 20px;
    }
    #requirements-detailes ul li {
        margin: 0.5vh 0;
    }
    #requirements-detailes .phoneno {
        font-size: 18px;
        padding: 2px;
        font-weight: 800;
    }
    #requirements-detailes .row .col-xl-6 button {
        padding: 10px;
        width: 100%;
        font-size: 15px;
        margin-bottom: 20px;
        height: 10vh;
    }
    #requirements-image {
        background-image: url("../image/image-5.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 126% 100%;
        height: 70vh;
        width: 100%;
    }
    #Donation-process {
        margin: 10vh 0 0;
    }
    #Donation-process-image {
        background-size: 150% 100%;
        height: 70vh;
    }
    #Donation-process-details {
        margin: 0 5%;
        width: 90%;
    }
    #Donation-process-details ul {
        padding-left: 20px;
    }
    #Donation-process-details h4 {
        margin-top: 3vh;
        font-size: 2.05rem;
    }
    #donation-guide {
        margin: 0;
    }
    #donation-guide .col-12 div {
        padding: 5vh 0 3vh;
        margin: 0 5%;
        width: 90%;
    }
    #donation-guide div h2 {
        font-size: 2.4rem;
        letter-spacing: 0px;
    }
    #donation-guide div h2:before {
        top: 3vh;
    }
    #donation-guide div p {
        font-size: 16px;
        margin-top: 1.9vh;
        padding: 7px 6px 6px 0;
    }
    #donation-guide div form input {
        font-size: 18px;
        padding: 7px 10px;
        width: 50vw;
    }
    #donation-guide div form button {
        font-size: 16px;
    }
    #donation-guide-image {
        height: 47vh;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    #requirements {
        margin-top: 6vh;
    }
    #requirements-detailes div:first-child {
        margin: 0 2.5%;
        width: 95%;
    }
    #requirements-detailes .display-4 {
        font-size: 1.7rem;
    }
    #requirements-detailes p {
        font-size: 17px;
    }
    #requirements-detailes ul {
        margin: 0;
        padding-left: 0px;
    }
    #requirements-detailes ul li {
        line-height: 35px;
        margin: 0.4vh 0;
        padding: 0 10px;
    }
    #requirements-detailes .phoneno {
        font-size: 18px;
        padding: 2px;
        font-weight: 800;
    }
    #requirements-detailes .row .col-xl-6 button {
        padding: 10px;
        width: 100%;
        font-size: 15px;
        margin-bottom: 20px;
        height: 10vh;
    }
    #requirements-image {
        background-image: url("../image/image-5.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 126% 100%;
        height: 55vh;
        width: 100%;
    }
    #Donation-process {
        margin: 12vh 0 0;
    }
    #Donation-process-image {
        background-size: 150% 100%;
        height: 50vh;
    }
    #Donation-process-details {
        margin: 0 5%;
        width: 90%;
    }
    #Donation-process-details h4 {
        margin-top: 3vh;
        font-size: 2.05rem;
    }
    #donation-guide {
        margin: 0;
    }
    #donation-guide .col-12 div {
        padding: 5vh 0 3vh;
        margin: 0 5%;
        width: 90%;
    }
    #donation-guide div h2 {
        font-size: 2.4rem;
        letter-spacing: 0px;
    }
    #donation-guide div h2:before {
        top: 3vh;
    }
    #donation-guide div p {
        font-size: 16px;
        margin-top: 1.9vh;
        padding: 7px 6px 6px 0;
    }
    #donation-guide div form input {
        font-size: 16px;
        padding: 6px 6px;
        width: 80vw;
    }
    #donation-guide div form button {
        font-size: 15px;
        padding: 1.5vh 4.4vw;
        margin-top: 2vh;
    }
    #donation-guide-image {
        height: 35vh;
        width: 100%;
    }
}