@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');



#slider
{
	height: 80vh;
}
#slider img{
	height:80vh;
}
#slider .carousel-caption
{	
	height: 50vh;	
	text-align: left;
	margin-left: -30px;
}
#slider .carousel-item .carousel-caption h5
{
	font-family: 'Righteous', cursive;
	font-size: 3rem;
	letter-spacing: 1.2px;
}
#slider .carousel-caption p{
	font-family: 'Itim', cursive;
	font-size: 1.3rem;
}
#camps{
	margin: auto;
	margin-top: 8vh;
}
#camps .col-6{margin: auto;}
#camps .col-6 a{
	text-decoration: none;
	color: black;
}
#camps .col-6 .camps-box
{
	border: 2px solid black;
	height: 21vh;
	padding: 4vh 1vw;
	width: 100%;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
}



.blood-wave{
	position: absolute;
	border-radius: 33%;
	height: 300px;
	width: 300px;
	left: -50%;
	z-index: -1;
	bottom: -40vh;
	transform: scale(2);
	transition: all 1.4s linear;
}
#camps .col-6:hover .blood-wave{
	animation: blood-wave 2.3s linear 2;
}
@keyframes blood-wave{
	0%{
		transform: rotate(0);
		border-radius: 48%;
		bottom: -39vh;
		background-color:rgba(187,10,30,1);
	}
	20%{
		transform: rotate(100deg);
		border-radius: 40%;
		bottom: -30vh;
		background-color: rgba(251,4,4,0.750315160243785);
	}
	50%{
		bottom: -25vh;
		background-color: rgba(149,7,32,0.950315160243785);
	}
	100%{
		transform: rotate(360deg);
		border-radius: 30%;
		bottom: -20.4vh;
		background-color: rgba(187,10,30,1);
	}
}
.camps-box h3 {
	font-size: 2.4rem;
	width: 100%;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}
.camps-box p{
	text-align: center;
	margin-top: 2vh;
}
/* ============================ services =============================== */
#services-bg{
	margin: 0;
	margin-top: 5vh;
}
#services-bg .row{
	margin: auto;
}
#services-bg .row h3{
	font-family: 'Fjalla One', sans-serif;
	font-size: 2rem;
	text-align: center;
	width: 100%;
	padding: 20px 0;
	font-weight: 600;
	letter-spacing: 1px;
}
#services-bg .row #services-box {
	width: 90%;
	height: auto;
	border: 1.3px solid grey;
	margin: 0 5%;
}
#services-bg .row #services-box h5{
	margin-top: 3vh;
	font-size: 1.4rem;
	text-align: center;
}
#services-box #services-box-icon i{
	margin-top: 3vh;
	padding: 20px 25px;
	font-size: 2rem;
	color: white;
	background-color: var(--bg-grey);
	border-radius: 5px;
	margin-left: 50%;
	transform: translateX(-50%);
}
#services-bg .row #services-box p{
	padding: 0 10px;
	margin: 25px 0;
	font-size: 15px;
	text-align: center;
}
#services-bg .services-box-button
{
	width: 87%;
	margin: 0 6.5%;
	background-color:#fb0404;
	padding: 13px 5px;
	border: none;
	margin-bottom: 3vh;
	cursor: pointer;
	transition-duration: 0.23234s;
}
#services-bg .services-box-button:hover{
	background-color:#bb0a1e;
	color: white;
}

/*=====================================================*/
/* =============== important day ============== */
#important-day {
	margin-top: 8vh;
	height: auto;
	width: 100%;
	border: 2px solid #fdbb2d;
	border-radius: 12px;
	background: linear-gradient(90deg, rgba(255,255,255,1) 13%, rgba(244,81,81,0.9363095580028886) 63%, rgba(187,10,30,0.9110994739692753) 94%);

}
#important-day div{
	padding: 4vh 3vw;
}
#important-day #day i {
	background-color: rgba(30, 12, 12, 0.3);
	color: black;
	width: 100%;
	text-align: center;
	font-size: 1.4rem;
}
#day h3{
	text-align: center;
	font-family: 'Fjalla One', sans-serif;
}
#day ul{
	height: 70px;
	overflow: hidden;
	padding: 0 20px;
	margin: 0;
}
#day ul li{
	list-style: none;
	margin: 10px 0;
}
#day ul li img{
	height: 50px;
	width: 50px;
}
/*=============================================*/
/*
#impact img{
	height: 83vh;
	width: 100%;
}
#impact-work
{
	margin-top: 18vh;
}
#impact-work h4{
	font-size: 2.4rem;
}
#impact-work h4:after {
	position: absolute;
	 content: "";
       height: 2.5px;
       background-color: #fdbb2d;
       width: 70px;
       top: 110px;
       left: 3px;
}
#impact-pergraph{
	font-size: 32px;
	margin-top: 50px;
	width: 27vw;
	height: 30vh;
	line-height: 38px;
}*/
#involved
{
	margin-top: 9vh;
}
#involved .carousel-inner{
	padding: 0 10px;
}
#involved .carousel-caption{
	height: 17vh;
	text-align: left;
	margin-left: -30px;
}
#involved .carousel-caption h5{
	font-family: 'Righteous', cursive;
	font-size: 1.2rem;
	letter-spacing: 1px;
}
#line{
	display: flex;
	justify-content: center;
	align-items: center;
}
#line div
{
	height: 2.5px;
	width: 70px;
	background-color: #fdbb2d;
}
#involved button
{	
	padding: 6px 9px;
	font-size: 1rem;
}

#line{
	width: 100%;
	margin:1vh 0;
}
#involved-get .col-12
{
	margin-top: 13vh;
}
#involved-get h4{
	font-size:2.8rem;
}
#involved-get .mt-4{
	font-family: 'Istok Web', sans-serif;
	font-size: 20px;
	letter-spacing: 0.8px;
	text-align: justify;
	color: gray;
	padding:20px 0;
}
#involved-get li{
	list-style: none;
	font-size: 18px;
	color: #414345;
	margin: 10px 0;
	padding: 10px 0;
}
#involved-get li:before {
   font-family: "Font Awesome 5 Free";
   content: "\f105";
   color: #4286f4;
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 1000;
}
#involved-get .get{
	padding: 0 2vw;
}
#involved-get .image{
	background-image: url("../image/image-5.jpg");
	width: 100%;
	height: 690px;
	background-repeat: no-repeat;
	background-size: 135% 100%;
	background-position: center;
	overflow: hidden;
	margin-left: 0;
}
#involved-get .image img{
	width: 100%;
	height: 100%;	
}

/*  camp */
.camp{
	padding: 50px 0;
}
.camp .camp-box
{
	padding: 0;
	padding-bottom: 15px;
	background-color: #f7f7f7;
}
.camp .camp-image{
	position: relative;
}
.camp .camp-image:hover .camp-overlay{
	display: flex;
}
.camp .camp-overlay
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	justify-content: center;
	align-items: center;
	background-color:rgba(255,81,47,0.24);
}
.camp .camp-overlay .camp-overlay-visit-btn
{
	padding: 5px 18px;
	font-size: 18px;
	cursor: pointer;
}
.camp .camp-heading{
	font-size: 3rem;
    padding: 14px 0;
	margin-bottom: 20px;
	text-align: center;
}
.camp .camp-details{
	padding: 15px 20px;
}
.camp .camp-title{
	text-transform: capitalize;
	font-size: 25px;
}
.camp button.camp-visit-btn{
	font-size: 19px;
	padding: 7px 19px;
	float: right;
}
/* end camp */
#donation-appointmen
{
		margin-top: 13vh;
}
#donation-side-image{
		background-image: url("../image/image-6.jpg");
		height: 69vh;
		width: 100%;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: relative;
}
#donation-side-image div{
	height: auto;
	width: 425px;
	padding: 40px 40px 26px 40px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: rgba(98, 132, 255, 0.7);	
	color: white;
}
#donation-side-image h3{
	font-weight: 900;
}
#donation-side-image div p{
	font-weight: 400;
	text-align: justify;
	font-size: 16.4px;
}

#donation-side-image  div h3:before {
	content: "";
	position: absolute;
	width: 70px;
	top: 30px;
	height: 2.5px;
	background-color: #FF512F;
}

#donation-appointmen-form{
	padding:8vh 8vw ;
	paddin-top:0px;
}
#donation-appointmen-form h3{
	font-size: 3rem;
	margin-bottom: 3vh;
}
#donation-appointmen-form .row .col-12{
		padding: 7px 10px;
}
#donation-appointmen-form p{
	font-size: 18px;
	font-weight: 470;
	color: grey;
}
#donation-appointmen-form .row ul li{
	list-style: none;
}
#donation-appointmen-form .row span i{
	font-size: 30px;
   color: #4286f4;
}
#donation-appointmen-form .row  form input{
	font-size: 18px;
	margin: 10px 0;
}
#donation-appointmen-form .row  form button{
	font-size: 1rem;
	padding: 15px 23px;
}
#feedback .col-12
{
	margin: auto;
	padding: 10px 18px;
	border: 1px solid #6DD5FA;
	border-radius: 14px;
	background-color: rgba(109,213,250,0.3);
	position: relative;
}
#feedback .col-12 i{
	font-size: 3.5rem;
	color: rgba(50,225,255,0.8);
}
#feedback p{
	padding: 20px 5px;
	font-size: 17px;
	color: #232526;
}
#feedback h5{
	margin-top: 1vh;
}
#feedback .text-right:before {
	content: "";
	position: absolute;
	width: 70px;
	height: 2.5px;
	background-color: #FF512F;
	bottom: 20%;
	right: 20px;
}
#schedule-appointmen
{
	margin: 5vh 0 0 ;
	height:56vh;
}
#schedule-appointmen .col-12
{
	background-image: url("../image/image-10.jpg");
	background-repeat: no-repeat;
	height: 100%;
	background-position: 50% 100%;
	background-size: cover;	
}

#schedule-appointmen .col-12 div{
	margin: 20vh 0 0 10vw;
}
#schedule-appointmen .col-12 div h2{
	font-size: 2.3rem;
	margin-bottom: 3vh;
}
#schedule-appointmen .col-12 div p{
	font-size: 16.7px;
	margin: 4vh 0;
	color:grey ;
}
#schedule-appointmen .col-12 div h2:before {
	content: "";
	position: absolute;
	width: 70px;
	height: 2.5px;
	background-color: #FF512F;
	top: 18vh;
}
#schedule-appointmen .col-12 button{
	font-size: 18px;
	padding: 17px 22px;
}
@media only screen and (max-width: 1200px)
{
	#slider
	{
		height: 60vh;
	}
	#slider img{
		height:60vh;
	}
	#slider .carousel-caption
	{	
		height: 35vh;	
	}
	#slider .carousel-item .carousel-caption h5
	{
		font-size: 2.4rem;
	}
	#slider .carousel-caption p{
		font-size: 1.2rem;
	}
	.button{
		background-color:  #FF512F;
		padding: 7px 14px;
		font-size: 1rem;
	}
	#camps{
		margin-top: 3vh;
	}
	#camps .col-6{
		margin-top: 3vh;
	}
	#services-bg .col-12{
		margin-top: 3vh;
	}
	#services-bg .row #services-box {
		width: 80%;
		margin: 0 10%;
	}
	#services-bg .row #services-box h5{
		margin-top: 4vh;
	}
	#services-box #services-box-icon i{
		font-size: 2.3rem;
	}
	#services-bg .row #services-box p{
		font-size: 16px;
	}
	#services-bg .services-box-button
	{
		font-size: 16px;
	}
	#impact img{
		height: 75vh;
		width: 100%;
	}
	#impact-work
	{
		margin-top: 8vh;
	}
	#impact-work p{
		text-align: center;
	}
	#impact-work h4{
		font-size: 2rem;
		text-align: center;
	}
	#line{
		margin:2vh 0 3vh;
	}
	#impact-work h4:after{
	    height: 2.5px;
	    background-color: #fdbb2d;
	    width: 60px;
	    top: 110px;
	    left: 50%;
	    transform: translateX(-50%);
	}
	#impact-pergraph{
		font-size: 28px;
		margin: auto;
		margin-top: 50px;
		width: 50%;
		height: auto;
		line-height: 38px;
	}
	#impact-work .button{
	    margin-left: 50%;
	    transform: translateX(-50%);
	    font-size: 20px;
	}
	#involved .col-12{
		margin-top: 20px;
	}
	#involved .carousel-caption{
		height: 20vh;
	}
	#last-image-involved .carousel-item .carousel-caption{
		height: 23vh;
		width: 330px;
	}
	#involved-get h4{
		padding: 0 10px;
	}
	#involved-get .p{
		padding-left: 10px;
	}
	#involved-get .mt-4{
		letter-spacing: 0.3px;
		padding: 10px;
		margin: 0;
	}
	#involved-get ul{
		padding: 0 20px;
	}
	#involved-get li{
		margin: 0;
		padding:7px 0;
	}
	#involved-get .image{
		height: 475px;
	}
	#involved-get .image img{
		width: 100%;
		height: 100%;	
	}
	#donation-side-image div{
		height: 15vh;
	}
	#donation-appointmen-form h3{
		font-size: 2rem;
	}
	#donation-appointmen-form p{
		padding: 0;
		margin: 0;
		text-align: justify;
	}
	#donation-appointmen-form .row ul{
		padding: 0;
		margin-top: 5vh;
	}
	#donation-appointmen-form .row form input{
		width: 35vw;
	}
	#donation-appointmen-form .row ul li{
		margin: 2vh 0;
	}
	#feedback {
		width: 95%;
		margin: 0 2.5%;
	}
	#feedback .col-12 {
		margin: 23px 0;
	}
	#feedback .col-12 i{
		font-size: 2.8rem;
	}
	#feedback .col-12 p{
		padding: 10px;
		margin: 0;
	}

	#feedback .text-right:before {
		bottom: 32%;
	}
	#donation-side-image{
			height: 60vh;
			width: 95%;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			position: relative;
			background-position: center;
			margin: auto;
	}
	#donation-side-image div{
		width: 100%;
		padding: 30px 20px 13px 20px;
	}
	#donation-side-image h3{
		font-size: 1.4rem;
	}
	#donation-side-image div p{
		font-size: 15px;
	}

	#donation-side-image  div h3:before {
		top: 20px;
	}
	#schedule-appointmen
	{
		margin: 3vh 0 0 ;
		height: 50vh;
	}
	#schedule-appointmen .col-12
	{
		background-image: url("../image/image-10.jpg");
		background-repeat: no-repeat;
		height: 100%;
		background-position: 65% 100%;
		background-size: cover;	
	}

	#schedule-appointmen .col-12 div{
		margin: 10vh 0 0 10vw;
	}
	#schedule-appointmen .col-12 div h2{
		font-size: 2.3rem;
		margin-bottom: 3vh;
	}
	#schedule-appointmen .col-12 div p{
		font-size: 16.7px;
		margin: 4vh 0;
		color:grey ;
	}
	#schedule-appointmen .col-12 div h2:before {
		height: 3px;
		top: 8vh;
	}
	#schedule-appointmen .col-12 button{
		font-size: 15px;
		padding: 13px 19px;
	}
}

@media only screen and (max-width: 776px)
{
	#slider
	{
		height: 40vh;
	}
	#slider img{
		height:40vh;
	}
	#slider .carousel-caption
	{	
		height: 25vh;	
	}
	#slider .carousel-item .carousel-caption h5
	{
		font-size: 1.4rem;
	}
	#slider .carousel-caption p{
		font-size: 1rem;
	}
	#impact img{
		height: 50vh;
	}
	#impact-work
	{
		margin-top: 5vh;
	}
	#impact-work h4{
		font-size: 2.3rem;
	}
	#impact-work h4:after{
	    width: 65px;
	}
	#impact-pergraph{
		font-size: 20	px;
		margin: auto;
		margin-top: 50px;
		width: 90%;
		height: auto;
		line-height: 38px;
	}
	#involved-get ul{
		padding: 0 15px;
	}
	#involved-get .image{
		height: 350px;
	}
	#involved-get .image img{
		width: 100%;
		height: 100%;	
	}
	#donation-side-image div{
		height: auto;
	}
	#donation-appointmen-form h3{
		font-size: 1.8rem;
	}
	#donation-appointmen-form .row ul{
		padding: 0;
		margin-top: 3vh;
	}
	#donation-appointmen-form .row form input{
		width: 70vw;
	}
	#feedback .col-12 i{
		font-size: 2.3rem;
	}
}