*{
	padding: 0;
	margin: 0;
}
body{
	/* background-color:rgba(250, 75, 40, 0.623);	 */
	height: 100%;
	width: 100%;	
}

.container-fluid{	
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-size: contain; 
	
}

#border-bottom{
	border-bottom: 1px solid var(--bg-ff512f);
}

#form{
	/* background:linear-gradient( var(--bg-ff512f) 50%, var(--bg-ff512f) 50%); */
	
    padding: 25px 25px 0 25px;
    border: 1px solid #d1d0d0;
    border-radius: 25px;
    margin: 5vh auto;
    box-shadow: 0px 0px 250px -29px var(--bg-ff512f);
    background-color: rgb(241, 242, 246,0.8);
}

#form #link a{
	color: #5e5e5e;
	outline: none;
	text-decoration: none;
}
#form #link a:hover{
	color:var(--bg-ff512f);
	text-shadow: 0px 0px 5px #cdcdcd;
	font-weight: 700;
}
#form label{
	font-weight: 600;
	font-size: 17px;
	padding: 4px 0;
	text-transform: capitalize;
	color: #5e5e5e;
	letter-spacing: 0.3px;
}

#form #border-bottom h2,#form #border-bottom p{
	text-shadow: 0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 6px #fff,0px 0px 6px #fff;
	text-align: center;
	font-size:3rem;
	font-weight: 600;
	color:#5e5e5e;
	padding:0;
}
#form #border-bottom p{
	font-size: 13px;
	padding-bottom: 10px;
	color: #a7a7a7;
}


input[type="submit"]{
	font-weight: 600;
	letter-spacing: 0.8px;
	color: var(--bg-ff512f );
	border: 2px solid var(--bg-ff512f);
	background-color: white;
	margin-top: 8px;
	border-radius: 0;
	margin:20px 0;
}
input[type="submit"]:hover{
	box-shadow: 4px 4px 0 0px var(--bg-ff512f);
}
#form .passwor-div ,#form .input-div{
	position: relative;
}
#form .passwor-div .fas{
	position: absolute;
	right: 0;
	top: 0;
	border: 1px solid #dfe4ea;
	border-radius: 0 5px 5px 0;
	padding: 10px;
	cursor: pointer;
}
#form .input-div .fa , #form .passwor-div .fa{
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid #dfe4ea;
	border-radius:  5px 0 0  5px ;
	padding: 10px;
	cursor: pointer;
}
#form .input-div input,#form .passwor-div input{
	padding-left: 9%;
}


#form .passwor-div .fa-eye{
	padding-left: 12px;
}
#form .passwor-div .fa-eye-slash
{
	display: none;
}

#form .password{
	width: 100%;
}

#skip h5{
	color: #212529;;    
	position: relative;
}
#skip span{
	cursor: pointer;
}
#skip span:hover i{
	padding-left:10px;
}
#skip i{
	position: absolute;
	transition:all 0.2s linear;
	top:2px;
	padding-left:5px;
}


@media only screen and (max-width: 400px) {
	.container-fluid{
		padding: 0 10px;
	}
	#form{
		padding: 15px 10px;
	}
	.form-group {
	     margin-bottom: 4px;
	}	
	#form .input-div input,#form .passwor-div input{
		padding-left: 12%;
	}
}

@media only screen and (max-width: 550px) {
	#form #border-bottom h2
	{
		font-size: 2.5rem;
	}
	#form #border-bottom p{
		font-size: 12px;
		letter-spacing: 0.12px;
	}
	.container-fluid{	
		position:unset ;
		
		transform: translateY(0%);
		background-size: contain; 
		
	}
}