#profile-main-div{
	margin: 100px auto 60px auto;
}
#profile-main-div .profile-sidemanu{
	padding: auto 20px;
}
#profile-main-div .profile-sidemanu ul li{
	/*text-align: right;*/
	list-style: none;
	padding: 5px 0;
	margin: 5px 0;
}
#profile-main-div .profile-sidemanu ul li a{
	color: grey;
	text-decoration: none;
	line-height: 30px;
	font-size: 16px;
	transition: padding 0.1s linear;
	font-weight: 600;
}

#profile-main-div .profile-sidemanu ul li a i{
	font-size: 14px;
	transition: padding 0.2s linear;
}

#profile-main-div .profile-sidemanu ul li a:hover{
	color: var(--bg-ff512f);
}
#profile-main-div .profile-sidemanu ul li a:hover i{
	color: var(--bg-4286f4);
	padding-right: 10px;
}

#profile-main-div .profile-sidemanu .active{
	color: var(--bg-ff512f);
}
#profile-main-div .profile-sidemanu .active i{
	color: var(--bg-4286f4);
	padding-right: 10px;
}
#profile-main-div .profile-image{
	/* padding: 1px; */
	/* border: 2px solid var(--bg-ff512f); */
}

#profile-main-div .user-name{
	font-size: 24px;
	font-weight: 600;
	letter-spacing: 0.2px;
	color: #e43b1a;
}
#profile-main-div .user-tagline{
	color: #4b4949;
	font-weight:500;
}


/* ==  */

.personal-info{
	font-size: 18px;
	font-weight: 600;
	color: #e43b1a;
}



/* == profile input == */

.profile-box{
	position: relative;
	border:2px solid #e43b1a;
	width: 87%;
}
.profile-box .edit-profile{
	position: absolute;
	right: -7px;
	top: -10px;
	background-color: #e43b1a;
	padding:1.6px 3px 2.3px 4.3px;;
	font-size: 10px;
	color: #fff;
	border-radius: 50%;
}
.profile-overlay{
	display: none; 
	position: fixed; /* Stay in place */
	z-index: 100000; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	justify-content: center;
	align-items: center;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.profile-image-box{
	border: 2px solid #e43b1a;
	width: 50%;
	height: 70%;
	margin-top: -99px;
	margin-right: -2px;
	position: relative;
	overflow: hidden;
	background-color: #fff;
	display: flex;
	justify-content: center;
	
}
.profile-image-box span{
	position: absolute;
	right: 0;
	border-radius: 0 0 0 50%;
	padding: 4px 7px 4px 12px;
	background-color: #e43b1a;
	margin-top: -1px;
	font-size: 17px;	
	cursor: pointer;
	color: #fff;
	font-weight: bolder;
}

.profile-image-box img{
	max-width: 100%;
	max-height: 100%;
}


@media only screen and (max-width: 1200px)
{
	.profile-box{
		width: 100%;
	}
}
.input-box{
	position: relative;
	border: 1px solid #e43b1a;
	width: 87%;
	margin-top: 25px;
}
.input-box label{
	position: absolute;
	font-size: 13px;
	background-color: #fff;
	top:-10px;
	padding: 0 3px;
	left: 10px;
	color: #e43b1a;
}
.input-box input,.input-box select{
	border:none;
	width: 100%;
	outline: none;
	font-size: 16px;
	margin-top: 4px;
	padding: 3px 10px;
	color: #4b4949;
}

.profile-submit input[type="submit"]{
	font-weight: 600;
	letter-spacing: 0.8px;
	color: var(--bg-ff512f );
	border: 2px solid var(--bg-ff512f);
	background-color: white;
	margin-top: 8px;
	border-radius: 0;
	margin:20px 0;
}
.profile-submit input[type="submit"]:hover{
	box-shadow: 4px 4px 0 0px var(--bg-ff512f);
}
.appointment-box{
	padding:0 10px 8px 10px;
}
.appointment-title-div{
	background-color: #fcd1c9b3;
	color: #e43b1a;
	cursor: pointer;
}
.appointment-title-div div{
	padding-top:5px;
	padding-bottom: 5px;
}
.appointment-title-div h5{
	font-size: 19px;
	font-weight: 700;
	/* color: #e43b1a; */
	/* text-shadow: 0  0 2px rgba(0,0,0,0.4); */
	margin-bottom: 3px;
}
.appointment-title-div p{
	margin-bottom: 0;
	font-size: 11px;
	padding-left: 2px;
}
.appointment-down-arrow{
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}
.appointment-details-box{
	border-top: 1.7px solid #e43b1a;
	/* height: 150px; */
	height: 0;
	background-color: #fcd1c9b3;
	transition: all 0.3s linear;
}
@media only screen and (max-width: 767px)
{
	#profile-main-div .profile-sidemanu{
		display: none;
	}
}
