@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

:root{
	--bg-ff512f: #ff512f;
	--bg-grey: grey;
	--bg-4286f4:#4286f4
} 

*
{
	font-family: 'Poppins', sans-serif;
}

/* hide input arrow */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;

}


.col-12 ,#row{
	margin: 0;
	padding: 0;
}
.button{
	background-color:  var(--bg-ff512f);
	padding: 10px 19px;
	color: white;
	border-radius: 0;
	border: none;
	font-size: 1.3rem;
	transition-duration: 0.2s;
}

.form-control:focus {
    box-shadow: 0 0 8px 1.6px rgba( 255,81,47,0.8);
}
.button:hover{
	background-color: gray;
}
.navba .navbar-brand a{
	font-weight: 900;
	color: gray;
}
.nav-item
{
	margin: 0 5px;
	font-weight: bold;
}
#top-part{
	padding:24px 0;
}
#top-part #logo{
	font-family: 'Be Vietnam', sans-serif;
	font-size: 25px;
	font-weight: 900;
	letter-spacing: 1px;
	margin-left: 5px;
}
#top-part .part:not:first-child
{
	padding: 0 30px;
}
#top-part .last-part{
	margin-left: 40px;
}
#top-part .last-part i
{
	font-size: 2.7rem;
}

#top-part .col-12{
	display: flex;
	justify-content: center;
	align-items: center;
}

#top-part #call{
	font-size: 2.3rem;
}
#top-part #call #mobileno{
	font-size: 1rem;
}
#top-part #contect p{
	line-height: 20px;
	font-family: 'Montserrat', sans-serif;
}
#top-part #contect a{
	font-size: 15px;
	color: gray;
	text-decoration: none;
}
#top-part #contect a:hover{
	color: darkblue;
}
.arrow li{
	list-style: none;
}
.arrow li:before{
    font-family: "Font Awesome 5 Free";
   content: "\f105";
   color: #4286f4;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 1000;
}
#blood-image {
	height: 45vh;
	width: 100%;
	background-image: url("../image/image-11.jpg");
	background-size: 107% 100%;
	overflow: hidden;
}
#blood-image div
{
	margin: 13vh 0 0 10vw;
	color: white;
}
#blood-image div h4{
	font-size: 4rem;
	font-weight: 900;
}
#blood-image div p{
	font-size: 20px;
}


footer{
	background-color: #000;
	color: white;
}
footer .row{
	margin: auto;
	padding: 10vh 0 5vh;
}
footer img{
	width: 50px;
	height: 50px;
}
footer .col-12
{
	padding: 0 1vw;
}
footer .footer-logo 
{
	font-size: 2rem;
	font-weight: bold;
}
footer .footer-about p
{
	margin-top: 5vh;
	font-size: 15px;
		
}
footer .footer-page{
	padding: 2vh 0 0 2vw;
}
footer .footer-page h5:before
{
	top: 0;
	left: 3vw;
	content: "";
	position: absolute;
	height: 2.5px;
	width: 70px;
	background-color: #ff512f;
}
footer .footer-page ul{
	padding: 0;
}
footer .footer-page ul li{
	list-style: none;
	font-size: 16px;
}
footer .footer-page ul li:before{
	font-family: "Font Awesome 5 Free";
   content: "\f105";
   color: #4286f4;
   display: inline-block;
   vertical-align: middle;
   font-weight: 1000;
}
footer .footer-page li  a{
	color: white;
	text-decoration: none;
}
footer .footer-page li a:hover{
	color: grey;
}

footer .footer-contact h5{
	font-size: 1.1rem;
	margin-top: 2vh;
}
footer .footer-contact p{
	font-size: 15px;
	margin: 3.3vh 0 0 0;
}
footer .phoneno
{
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	color: white;
	transition-duration: 0.3s;
}

footer .phoneno:hover
{
	text-decoration: none;
	color: #ff512f;
}

footer .footer-contact h5:before
{	
	top:0;
	content: "";
	position: absolute;
	height: 2.5px;
	width: 70px;
	background-color: #ff512f;

}
footer .footer-social h5{
	margin-top:5vh ;
	font-size: 1.1rem;
}

footer .footer-social h5:before
{
	top:26vh;
	content: "";
	position: absolute;
	height: 2.5px;
	width: 70px;
	background-color: #ff512f;
}

footer .footer-social p{
	font-size: 15px;
}

footer .footer-social .icon a{
	margin: 1vh 13px;
	color: white;	
}
footer .footer-social .icon a:hover{
	color: #ff512f;
}
footer .pb-2{
		padding: 0 ;	
}

@media only screen and (max-width: 1200px)
{
	#top-part{
		display: none;	
	}
	#blood-image {
		height: 40vh;
	}
	#blood-image div
	{
		margin: 11vh 0 0 10vw;
	}
	#blood-image div h4{
		font-size:3rem;
	}
	#blood-image div p{
		font-size: 18px;
	}
	footer .row{
		padding: 10vh 2vw 5vh;
	}
	footer .pb-2{
		padding: 0 2vw;
	}
}

@media only screen and (max-width: 600px)
{
	#blood-image {
		height: 32vh;
		background-size: 110% 100%;
	}
	#blood-image div
	{
		margin: 8vh 0 0 10vw;
	}
	#blood-image div h4{
		font-size: 2rem;
	}
	#blood-image div p{
		font-size: 17px;
	}
}