#thalassemia {
margin: auto;

}
#thalassemia .col-xl-11{
	border: 1px solid #d1d0d0;
	border-radius: 8px;
	margin: 5vh auto;
	box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.4);
}
#thalassemia .col-xl-11 h5{
	border-bottom: 1px solid #d1d0d0;
	padding: 15px 20px;
	color: #bb0a1e;
	text-align: center;
}
#thalassemia form
{
	font-size: 16px;
	width: 97%;
	margin: 1.5% 1.5%;
	background-color: #d1d0d0;
	padding: 10px 20px;
	border-radius: 7px;
}
#thalassemia form label {
	font-weight: 600;
	padding-top: 10px;
	font-size: 17px;
}
#thalassemia form input,#thalassemia form select {
	font-size: 16px;
}

#thalassemia form input:focus,#thalassemia form select:focus{
	box-shadow: 0 0 5px -2px ;
}

#thalassemia form button{
	background-color: #bb0a1e;
}
#thalassemia form button:hover{
	background-color: grey;
}